{% extends 'base/base.html' %}

{% block content %}
<main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <a class="backButton" href="{% url 'account' user_id=request.user.id %}">
                    <i class="bi bi-arrow-left"></i>
                </a>
                <br>

                <form class="form" method="POST" action="">
                    {% csrf_token %}
                    <p>
                        {{ confirmation_text }}
                    </p>
                    <a class="btn btn--sub btn--lg  my-md" href="{% url 'account' user_id=object.owner.id %}"> Cancel </a>
                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Delete" />
                </form>
            </div>
        </div>
    </main>

{% endblock content %}
